body{
    font-size: 1.6rem;
}

#banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 4rem;
}

#banner img{
    aspect-ratio: 16/9;
    object-fit: cover;
    max-width: 70rem;
}
#banner-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

#banner-data #top-part{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#banner-data #top-part #header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#banner-data #top-part #header-top span{
    font-size: 1.4rem;
    font-weight: 600;
    color: #C31815;
}

#icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.icon{
    color: #2A2A2A;
    height: 16;
    aspect-ratio: 1/1;
    stroke-width: .1rem;
    cursor: pointer;
}

#news-title{
    font-size: 3.2rem;
    max-width: 50rem;
}

#bottom-part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}

#bottom-part p{
    max-width: 50rem;
    font-size: 1.5rem;
    color: #2A2A2A;
}

#aditional-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#aditional-info p{
    color: #2A2A2A;
}
#aditional-info p:not(.strong){
    opacity: .7;
}

#card-news{
    max-width: 96rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
}

#pannel-icon{
    rotate: 180deg;
}

#card-news-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    background-color: #735751D9;
    color: #E7D7C1;
    padding: .5rem 1rem;
    margin: 0px 1.7rem;
}

#card-news-header span{
    font-size: 1.8rem;
}

#news-wrapper{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    flex: 1;
    gap: 1rem;
    padding: 1rem;
}

.grid-item{
    background-color: #735751;
    max-width: 45rem;
    overflow: hidden;
}

.grid-item img{
    aspect-ratio: 16/9;
    object-fit: cover;
    max-width: 45rem;
}
.grid-item-content{
    max-width: 40rem;
    padding: 1rem 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.grid-item-content h1, .grid-item-content a{
    font-size: 1.8rem;
    color: #E7D7C1;
    font-weight: 600;
    text-decoration: none;
}
.grid-item-content a:hover{
    text-decoration: underline;
}

.grid-item-content p{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #A78A7F;
    font-weight: 400;
    line-height: 2.2rem;
}

.grid-item-content #aditional-info{
    margin-top: 2rem;
}

.grid-item-footer{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.icon-text, .icon-text p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #2A2A2A;
}
#button-manes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#button-manes button{
    font-size: 1.6rem;
    color: #edc2c2;
    padding: 2rem 5rem;
    border: none;
    background: #8C1C13;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#button-manes button:hover{
    background: #59110b;

}